{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ pin.name }}{% endblock %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block content %}
    <h1>Edit Pin</h1>

    <form class="mt-3" enctype="multipart/form-data" method="post" action='{% url "edit_pin" id=pin.id %}'>
        {% csrf_token %}
        {{ form|crispy }}

        <div class="d-grid gap-2 my-3">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>

{% endblock %}

