{% extends 'base.html' %}
{% load leaflet_tags %}

{% block title %}Geolocation{% endblock %}

{% block javascript %}
    <script>
        var pins_url = '{% url "pins_list" %}';

        window.addEventListener("map:init", function (event) {
            var map = event.detail.map;

            fetch(pins_url)
                .then(function(resp) {
                    return resp.json();
                })
                .then(function(data) {
                    for (var i = 0; i < data.length; i++){
                        var pin = data[i];
                        var pin_location = JSON.parse(pin.pin_location)

                        L.marker(pin_location.coordinates.reverse()).addTo(map)
                            .bindPopup(pin.name)
                            .openPopup();
                    }
                });
        });
  </script>
{% endblock %}

{% block content %}
    <h1>Shops</h1>
    {% leaflet_map "map" %}
{% endblock %}
