{% extends 'base.html' %}
{% load leaflet_tags %}

{% block title %}Geolocation{% endblock %}

{% block javascript %}
    <script>
        var pins_url = '{% url "pins_list" %}';

        window.addEventListener("map:init", function (event) {
            var map = event.detail.map;

            fetch(pins_url)
                .then(function(response) {
                    return response.json();
                })
                .then(function(data) {
                    for (var i = 0; i < data.length; i++){
                        var pin = data[i];
                        
                        var content = document.createElement("div");
                        content.className = "pin";

                        var paragraph = document.createElement("p");

                        var title = document.createElement("strong");
                        title.innerHTML = `${pin.name}`;

                        paragraph.appendChild(title);

                        var description = document.createElement("em");
                        description.innerHTML = `Expiration date: ${pin.expiration_date}`;

                        paragraph.appendChild(description);

                        content.appendChild(paragraph);

                        var button_delete = document.createElement("a");
                        button_delete.innerHTML = "Delete pin";
                        button_delete.className = "btn btn-danger btn-sm";
                        button_delete.href = `{% url "delete_pin" id=1 %}`.replace('1', pin.id);

                        content.appendChild(button_delete)

                        var pin_location = JSON.parse(pin.pin_location);

                        L.marker(pin_location.coordinates.reverse()).addTo(map)
                            .bindPopup(content)
                            .openPopup();
                    }
                });
        });
  </script>
{% endblock %}

{% block content %}
    <h1>Pins</h1>

    {% leaflet_map "map" %}

    <div class="d-grid gap-2">
        <a href='{% url "new_pin" %}' class="btn btn-primary mt-3">
            Create Pin
        </a>
    </div>

{% endblock %}
